.tml_nqq_page {
	width: 90%;
	/*height: 500px;*/
	margin: 20px auto 0px;
	border-radius: 4px;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.048);
	background: #fff;
}
.new_list_title {
	width: 100%;
	background: #fafafa;
	border-radius: 4px 4px 0 0;
	font-weight: 500;
	font-size: 17px;
	height: 40px;
	line-height: 50px;
	color: #484848;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
	text-align: center;
	margin-bottom: 20px;
	padding-top: 10px;
}
.new_table {
	width: 96%;
	margin: 0px auto 10px;
	text-align: center;
	font-size: 14px;
	color: #808080;
}
.new_table th {
	background: #fafafa;
	color: #484848;
}
.new_table th, .new_table td {
	border: 1px solid #d8d8d8;
	line-height: 35px;
	text-align: center;
}
.new_table td input, .new_table td select {
	font-family: "Microsoft Yahei";
	width: 90%;
	height: 22px;
	line-height: 22px;
	border: 1px solid #e8e8e8;
	background: none;
	border-radius: 2px;
	margin: 6px 0px;
	color: #484848;
}
.new_table td input:focus {
	border-color: #a8a8a8;
}
.new_col_btn {
	border-radius: 4px;
	font-size: 14px;
	line-height: 25px;
	padding: 0px 8px;
	color: #fff;
	border: 0px;
	cursor: pointer;
	margin: 10px;
	background: #0099e6;
	font-family: "Microsoft Yahei";
}
.color_red {
	background: #e1455e;
}
.btn_group {
	width: 96%;
	text-align: right;
}
.list_header {
	width: 96%;
	margin: 0 auto 10px;
	line-height: 30px;
	font-size: 14px;
	padding: 0px 0px 0px 20px;
}
.list_header input {
	border: none;
	background: none;
	border-bottom: 1px solid #d8d8d8;
	line-height: 20px;
}
.tml_nqq_page .tml-form-col .combox .select a{
	min-width: 135px;
	color: #808080;
}
.tml_nqq_page .tml-form-col label{
	font-weight: 400;
	margin-left: -100px;
	width: 90px;
	color: #363636;
}
.depict_warp{
	border-radius: 4px;
	background: #fcfcfc;
	padding: 20px 0px 10px;
	margin :0px auto 10px;
	border-top: 1px solid #e8e8e8;
	width: 96%;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.new_list_title .depict_use_name.error{
	border-color: #ee5b92;
}
.new_list_title .depict_use_name{
	min-width: 250px;
	height: 32px;
	line-height: 32px;
	border-color:#5bc9ee;
	border-radius: 4px;
	font-family: "microsoft yahei";
	padding: 0px 5px;
	font-size: 14px;
	color: #333;
}
/*字段提前表中的select2*/
.new_table .select2{
    margin-left: 2px;
    margin-right: 2px;
    min-width: 100px;
}
/*.new_table tr td:nth-child(4) .select2{*/
    /*min-width: 103px!important;*/
/*}*/
/*.new_table tr td:nth-child(6) .select2{*/
    /*min-width: 100px!important;*/
/*}*/
.new_table .select2-container .select2-choice{
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    height: 26px!important;
}
.new_table .select2-container .select2-choice .select2-arrow{
    width: 20px!important;
    height: 26px!important;
    border-radius: 0 2px 2px 0;
    background: #e8e8e8!important;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e8e8e8), color-stop(0.6, #eee))!important;
    background-image: -webkit-linear-gradient(center bottom, #e8e8e8 0%, #eee 60%)!important;
    background-image: -moz-linear-gradient(center bottom, #e8e8e8 0%, #eee 60%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#e8e8e8', GradientType = 0)!important;
    background-image: linear-gradient(to top, #e8e8e8 0%, #eee 60%)!important;
}
/*end 字段提前表中的select2*/