@charset "UTF-8";
html,body{
    /*background: #fff;*/
}
/*系统顶部*/

/*end 系统顶部*/
.right_top li:hover,
.right_top li a:hover{
    color: #E74C3C;
}
.login_company:hover .company_select,
.login_company:hover .company_name,
.login_company:hover .company_select:after{
    color: #E74C3C;
    border-color: #E74C3C;
}
/*tab背景色*/
.tabsPage .tabsPageHeader{
    /*background: rgba(231,76,60,0.08);*/
}
.tabsPage .tabsPageHeader li.selected a{
    color: #E74C3C;
}
/*end tab背景色*/

/*首页背景色*/
.pageFormContent{
    /*background: rgba(231,76,60,0.08);*/
}
/*end 首页背景色*/

/*工作中心*/
.start_work_btn{
    background: #E74C3C;
}
.tml_box_content_ul .tml_box_content_li:hover a span.tml_box_content_number{
    color: #ed5955;
}
/*end 工作中心*/

/*提醒中心*/
.tml_remind_center{
    background: #E74C3C;
}
.remind_btn_active{
    background: #C0392B;
}
ul.tml_wake li:hover span.tml-bg-info span:before{
    color: #E74C3C;
}
ul.tml_wake li:hover a span.tml_tip_color{
    color: #E74C3C;
}
ul.tml_wake li:hover{
    border-color: #E74C3C;
}
/*end 提醒中心*/

/*日历*/
#calendarIndexWork #PL_rili_tit{
    background: #E74C3C;
}
#calendarIndexWork #PL_rili_box #r1 td{
    color: #E74C3C;
}
#calendarIndexWork #PL_rili_box #r2 td.timeToday div span.b a b{
    color: #E74C3C;
}
/*end 日历*/

/*大导航*/
.tml_myNav a::before,
.tml_myNav a::after{
    border: 2px solid rgba(0,0,0,0.3);
}
/*end 大导航*/

/*遮罩信息栏*/
.expert_btn a:hover{
    box-shadow: inset 0px -3px 0px #C0392B;
}
.expert_btn a.active{
    box-shadow: inset 0px -3px 0px #E74C3C;
}
.expert_cell_warp li a span:before,
.know_cell_warp li a span:before {
    color: #E74C3C;
}
.expert_cell_warp li:hover a span:before,
.know_cell_warp li:hover a span:before {
    color: #E74C3C;
}
.file_download:hover{
    color: #C0392B;
}
.know_cell_warp li:hover,
.expert_cell_warp li:hover{
    border-color: #E74C3C;
}
.tml_new_live_link{
    background: #E74C3C;
}
.tml_ka_header_btn{
    background: #E74C3C;
}
.expert_btn{
    background: rgba(231,76,60,0.1);
}
/*end 遮罩信息栏*/

/*常用*/
.entry-box-small .entry-box-body ul li a img{
    background: #E74C3C;
}
/*end 常用*/

/*footer*/
.map_icon{
    color: #E74C3C;
}
#footer .site_map:hover{
    background: #cc324c;
}
#footer .site_map:hover .map_name{
    background: #e64c66;
}
/*end footer*/

/*菜单项页面*/
.nbm_panel-head{
    /*background: #E74C3C;*/
    background: #f0695b;
}
.xysystem .part_title{
    /*background: #E74C3C;*/
    background: #f0695b;
}
.xysystem .data li a span:before{
    color: #E74C3C;
}
.xypart .data ul li:hover{
    border-color: #E74C3C;
}
.xysystem .part_content {
    background: rgba(231,76,60,0.02);
}
.nbm_panel-body ul{
    background: rgba(231,76,60,0.01);
}
.nbm_panel-body ul li:hover{
    box-shadow: inset 4px 0px 0px #E74C3C;
}
.nbm_panel-body ul li a:hover{
    background: rgba(231,76,60,0.03);
    color: #E74C3C;
}
/*菜单项页面*/
/*toolbar css*/
.tml_look_btn:hover{
    background: #E74C3C;
    border-color: #E74C3C;
}
.tml_select_option_right{
    border-color: #E74C3C;
    background: #E74C3C;
}
.panelBar .searchBar .xySearch {
    background: #E74C3C;
}
.tml_select_option_left,.tml_select_option_center{
    border-color: #E74C3C;
}
.panelBar .searchBar .xyAdvancedSearch{
    background: #E74C3C;
}
.panelBar .searchBar .xyOutput {
    background: #E74C3C;
}

.select2-results .select2-highlighted{
    background: #E74C3C!important;
}
/*end toolbar css*/
/*三级页面左侧css*/
.work_statement{
    color: #E74C3C;
}
.edit_work_btn{
    background: #E74C3C;
}
.menu_tag{
    border: 1px solid rgba(231,76,60,0.5);
    color: #E74C3C;
    background: rgba(231,76,60,0.2);
    box-shadow: 0px 0px 2px 0px rgba(231,76,60,0.2)
}
.menu_tag:hover{
    background: #E74C3C;
}
.bar_nav li:hover a{
    color: #E74C3C;
}
.bar_nav li.active a{
    color: #E74C3C;
}
.bar_nav li:hover{
    border-color: rgba(231,76,60,0.6);
    background: rgba(231,76,60,0.08);
}
.bar_nav li.active{
    border-color: #E74C3C;
    background: rgba(231,76,60,0.15);
}
.fc-ltr .fc-header{
    background: #E74C3C;
}
.fc-border-separate thead{
    color: rgba(231,76,60,0.8);
}
.fc-week .fc-state-highlight{
    background: #E74C3C;
}
.pred{
    background: rgba(231,76,60,0.8)!important;
}
.fc-border-separate thead {
    color: #E74C3C!important;
}
.btn_member:hover{
    color: #E74C3C;
}
.treeleft .toggleCollapse div{
    background: #E74C3C url(i/layout/toggleSidebar.png) no-repeat scroll -10px -28px;
}
/*end 三级页面左侧css*/
/*分页功能*/
.pagination li.hover a{
    border: 1px solid #E74C3C;
    color: #E74C3C;
}
.pagination li.selected a {
    background: #E74C3C;
    border-color: #E74C3C;
}
.pagination li.jumpto .textInput {
    border-color: #E74C3C;
}
.pagination li.jumpto .goto {
    background: #E74C3C;
}
.panelBar .pages span{
    color: #E74C3C;
}
/*end 分页功能*/
/*数据列表*/
.grid .gridTbody td:first-child{
    color: #E74C3C;
}
.grid .gridTbody .hover {
    background: rgba(231,67,76,0.1);
}
.grid .gridTbody .selected {
    background: rgba(231,67,76,0.2);
}
/*end 数据列表*/
/*菜单切换*/
.nbmaccordionFloat .nbm_panel-head{
    box-shadow: inset 5px 0px 0px #E74C3C;
}
.nbmaccordionFloat .nbm_panel-body ul li a .icon{
    color: #E74C3C;
}
.nbmaccordionFloat .nbm_panel-body ul li:hover{
    background: rgba(231,76,70,0.1);
    box-shadow: inset 4px 0px 0px #E74C3C;
}
.menu_tag{
    border: 1px solid rgba(231,76,70,0.5);
    color: #E74C3C;
    background: rgba(231,76,70,0.2);
    box-shadow: 0px 0px 2px 0px rgba(231,76,70,0.2)
}
.menu_tag:hover{
    background: #E74C3C;
}
/*end 菜单切换*/
/*系统导航*/
.cell_kind dd a:hover,
.big_kind:hover{
    background: #E74C3C;
}
.map_content,
.map_header{
    border-color: #E74C3C;
}
.map_header{
    background: rgba(231,76,70,0.1);
}
.map_searcher{
    border-color: #E74C3C;
}
.map_search_btn{
    background: #E74C3C;
}
.map_con_ul li{
    background: rgba(231,76,70,0.05);
}
/*end 系统导航*/
/*内页按钮*/
.pages_btn_group li a{
    color: #E74C3C;
}
.pages_btn_group li a:hover{
    border-color: #E74C3C;
}
/*end 内页按钮*/
/*客户管理*/
.tabNav .tabNavHeader .tabNavHeaderContent li.selected a{
    box-shadow: inset 0px -3px 0px #E74C3C;
}
.tabNav .tabNavHeader .tabNavHeaderContent li a::after {
    background: #E74C3C;
}
/*end 客户管理*/

/*项目阶段预览*/
.pro_rate li.active span:before{
    background: #E74C3C;
}
.pro_rate li.active:after{
    background: #E74C3C;
}
.pro_rate li.active:first-child:after{
    background: #E74C3C;
}
.pro_rate li.active a{
    background: #E74C3C;
}
.pro_rate li.active a:after{
    border-bottom-color: #E74C3C;
}
/*淡一点点*/
.ptm_left_nav li:before{
    border-left-color: #f0695b;
}
.ptm_left_nav li a{
    background: #f0695b;
}
.pro_rate li a.click_selected{
    background: #C0392B;
}
.pro_rate li a.click_selected:after{
    border-bottom-color: #C0392B;
}
.ptm_left_nav li.click_selected:before{
    border-left-color: #C0392B;
}
.ptm_left_nav li.click_selected a{
    background: #C0392B;
}
.pro_rate li a{
    background: rgba(231,76,70,0.5);
}
.pro_rate li a:after{
    border-bottom-color: rgba(231,76,70,0.5);
}

/*end 项目阶段预览*/

/*zTree 换肤*/
.ztree li a.curSelectedNode{
    background: #f0695b!important;
}
.ztree li a:hover {
    background:rgba(231,76,70,0.8)!important;
}
/*end zTree 换肤*/
/*公司切换*/
.company_cut ul li.active{
    color: #f0695b;
}
.company_cut ul li.active:before{
    color: #f0695b;
}
/*end 公司切换*/
/*项目查看nav*/
.proTabNav .proNavHeader li.hover span, .proTabNav .proNavHeader li.selected span{
    background: #E74C3C;
}
/*end 项目查看nav*/
/*内嵌表格 各行换色与选中*/
table.dataTable tbody tr:hover{
    background: rgba(231,76,70,0.1);
}
table.dataTable tbody tr.selected{
    background: rgba(231,76,70,0.2);
}
/*end 内嵌表格 各行换色与选中*/
/*动态展示*/
.dynamic_display_operate_btn:hover {
    background: #f0695b;
    border-color: #f0695b;
}
/*end 动态展示*/