* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}
body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 17px;
    line-height: 21px;
    color: #000;
    background-color: #efeff4;
    -webkit-overflow-scrolling: touch;
}
.mui-bar-tab .mui-tab-item .mui-icon ~ .mui-tab-label {
    font-size: 11px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mui-bar-tab {
    bottom: 0;
    display: table;
    width: 100%;
    height: 50px;
    padding: 0;
    table-layout: fixed;
    border-top: 0;
    border-bottom: 0;
    -webkit-touch-callout: none;
}
.mui-bar {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    height: 44px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 0;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .85);
    box-shadow: 0 0 1px rgba(0, 0, 0, .85);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.mui-bar-tab .mui-tab-item.mui-active {
    color: #007aff;
}
.mui-bar-tab .mui-tab-item {
    display: table-cell;
    overflow: hidden;
    width: 1%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #929292;
}
a{
    text-decoration: none;
    color: #007aff;
}
.mui-bar-tab .mui-tab-item .mui-icon {
    top: 3px;
    width: 24px;
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
}
@font-face {
    font-family: Muiicons;
    font-weight: normal;
    font-style: normal;

    src: url('fonts/mui.ttf') format('truetype');
}
.mui-bar .mui-icon {
    font-size: 24px;
    position: relative;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 10px;
}
.mui-icon {
    font-family: Muiicons;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
.mui-icon-home:before {
    content: '\e500';
}
.mui-icon-person:before {
    content: '\e101';
}
.mui-bar-tab .mui-tab-item.mui-active {
    color: #007aff;
}
.mui-popover {
    position: absolute;
    z-index: 999;
    display: none;
    width: 280px;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transform: none;
    transform: none;
    opacity: 0;
    border-radius: 7px;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}
.mui-popover .mui-popover-arrow {
    position: absolute;
    z-index: 1000;
    top: -25px;
    left: 0;
    overflow: hidden;
    width: 26px;
    height: 26px;
}
.mui-popover.mui-bar-popover .mui-table-view {
    width: 106px;
}
.mui-popover .mui-table-view {
    overflow: auto;
    max-height: 300px;
    margin-bottom: 0;
    border-radius: 7px;
    background-color: #f7f7f7;
    background-image: none;
    -webkit-overflow-scrolling: touch;
}
.mui-table-view {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    background-color: #fff;
}
.mui-popover.mui-bar-popover .mui-table-view .mui-table-view-cell {
    padding: 11px 15px 11px 15px;
    background-position: 0 100%;
}
.mui-popover .mui-table-view .mui-table-view-cell:first-child, .mui-popover .mui-table-view .mui-table-view-cell:first-child > a:not(.mui-btn) {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.mui-table-view-cell {
    position: relative;
    overflow: hidden;
    padding: 11px 15px;
    -webkit-touch-callout: none;
}