/* 关于我们 */
.top-bar {
    opacity: 1;
}
.top-bar .logo-black{
    position: absolute;
    /* width:100%; */
    top:23px;
    left:50%;
    transform: translate(-50%,0);
    opacity: 1;
    z-index: -1;
    transition: all .5s;
}
.page-name{
    height:200px;
    background: #d7faff;
    text-align: center;
}
.page-name p{
    font-size:32px;
    padding-top:120px;
}
.about-me .banner img {
    width:100%;
}
.about-me .content{
    padding-top:80px;
    padding-left: 60px;
}
.about-me .content div{
    padding:0;
}
.about-me .content .left-img img{
    width:100%;
}
.about-me .content .text-box {
    padding-left:90px;
    padding-top:35px;
    padding-right: 110px;
    line-height: 40px;
    font-size: 26px;
}
.about-me .content .text-box .text1 {
    margin-bottom: 50px;
}
.about-me .content .text-box .text2{
    font-size:36px;
    font-weight: 700;
    line-height: 50px;
}
/* 产品底部 */
.product-foot {
    background: #e3e3e3;
    padding:35px 60px;
}
.product-foot .left-side{
    border-left: 4px solid #a8a8a8;
}
.product-foot .right-side{
    text-align: right;
    border-right: 4px solid #a8a8a8;
}
.product-foot p.title{
    font-size: 18px;
    line-height: 25px;
    color:#222222;
    margin-bottom: 25px;
}
.producnt-foot p:not(:first-child){
    font-size: 14px;
    color:#636363;
    line-height: 20px;
}
/* ********************************** */
/* ***************项目介绍************ */
.project img{
    width: 100%;
}
.project .row {
    padding:40px 60px 85px;
}
.project .left-img,.project .right-side{
    padding:0;
}
.project .right-side p{
    margin-top:70px;
    line-height: 55px;
    margin-left: 100px;
    height: 370px;
    font-size: 32px;
    color:#4f4f4f;
}
/* 产品系列 */
.product-s {
    padding:0;
}
.product-s .big-box{
    padding:40px 40px 85px 60px;
}
.product-s .big-box>div:not(:last-child){
    margin-bottom: 10px;
}
.product-s .big-box .product-i {
    padding-left: 0;
    padding-right:20px;
}

.product-s .big-box .product-i .content{
   position: relative;
   overflow: hidden;
}
.product-s .big-box .product-i .content>img{
   width: 100%;
}
.bottom-bar {
    position: absolute;
    height: 100px;
    bottom: -100px;
    width:100%;
    background: rgba(255,255,255,0.9);
    padding:20px 30px 8px 21px;
    transition: all 0.5s;
}
.product-s .big-box :hover>.bottom-bar{
    bottom:0;
}
.bottom-bar .bar-main {
    border-left:4px solid #ccc;
    padding-left:20px;
    height: 70px;
    position: relative;
}
.bottom-bar .bar-main .product-name {
    font-size: 32px;
    color:#4f4f4f;
    margin-bottom: 3px;
    line-height: 35px;
}
.bottom-bar .bar-main .short-bar{
    width:48px;
    border-top:1px solid #c1c1c1;
}
.bottom-bar .bar-main .product-description {
    margin-top:8px;
    font-size: 16px;
    color:#868584;
}
.bottom-bar .bar-main .img-box {
    position: absolute;
    width: 100px;
    height: 40px;
    right: 0;
    top:15px;
}
.img-box .share{
    margin-left:25px;
}
/* 产品描述 */
.product-d {
    position: relative;
}
.product-d .big-img {
    padding-right: 100px;
}
.product-d .big-img img{
    width:100%;
}
/* 右侧条 */
.right-bar{
    width:700px;
    height:100%;
    position: absolute;
    top:0;
    right:-600px;
    background-color: #f6efea;
    transition: all 0.9s;
}
.right-bar .left-box{
    width:100px;
    height: 100%;
    float:left;
    overflow: hidden;
}
.right-bar .left-box .text-box{
    width:40px;
    margin:250px auto 0 auto ;
    height: 100%;
    text-align: center;
    cursor: pointer;
    transition: all 1s;
}
.right-bar .left-box .text-box .short-bar{
    width:40px;
    height:3px;
    background-color: #5e1b0e;
    transition: all 1s;

}
.right-bar .left-box .text-box .chinese{
    font-size: 30px;
    line-height: 32px;
    padding-top: 28px;
    color:#6b2408;
}
.right-bar .left-box .text-box .english{
    font-size:40px;
    line-height: 42px;
    margin-top:-60px;
    transform: rotate(90deg);
    opacity: 0.3;
    /* 字母之间的间隙 */
    letter-spacing: -3px;
    color: #f9d5c7;
}
.right-bar .left-box .text-box .chinese.close{
   display: none;
}
/* 右侧显示切换类 */
.right-show .right-bar{
    right:0;
}
.right-show .right-bar .left-box{
    width:80px;
}
.right-show .right-bar .left-box .text-box{
    margin:390px 0 0 20px;
}
.right-show .right-bar .left-box .text-box .short-bar{
    width: 3px;
    height: 40px;
    background-color: #a0a0a0;
    margin:0 auto;

}
.right-show .right-bar .left-box .text-box .english{
    display:none;
}
.right-show .right-bar .left-box .text-box .open{
    display:none;
}
.right-show .right-bar .left-box .text-box .close{
    display:block;
    padding-top: 20px;
    color: #a0a0a0;
}
/* **************** */
.right-bar .article {
    float:left;
    width:600px;
    height: 100%;
}
.right-bar .article-short-bar{
    width:60px;
    height:6px;
    background: #606060;
    margin-top:80px;
    margin-bottom: 30px;
}
.right-bar .title-box{
   margin-bottom: 60px;
}
.right-bar .title-box .chinese-title{
    font-size:50px;
    line-height: 60px;
}
.right-bar .title-box .english-title{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 7px;
}
.right-bar .content-box{
    margin-left:60px;
}
.bd{border-bottom: 1px solid #ccc;}
.right-bar .content-box .section{
    margin-bottom: 10px;
}
.right-bar .content-box .section .section-title{
    font-size: 28px;
    line-height: 40px;
}
.right-bar .content-box .section .section-content{
    padding:20px 0;
    font-size: 16px;
    line-height: 30px;
}
/* 联系我们 */
.map {
    margin:40px 45px;
}
.contact-us {
    margin:0 40px 70px;
}
.contact-us>div{
    padding:0;
}
.contact-us .left-side,.contact-us .right-side{
    border-bottom:1px solid #ccc;
    height:611px;
}
.contact-us .left-side .title{
    height:40px;
    border-left:4px solid #737373;
    font-size:34px;
    line-height: 40px;
    color:#5b5b5b;
    padding-left:12px;
}
.contact-us .left-side .content{
    margin-top:35px;

}
.contact-us .left-side .content p{
    line-height: 50px;
    font-size: 28px;
    color:#5b5b5b;
    padding-left:15px;
}
.contact-us .left-side .erweima-box{
    margin-top:40px;
    width:194px;
    height:194px;
    margin-left:15px;
    padding:15px;
    border:1px solid #ccc;
    margin-bottom: 45px;
}
.contact-us .left-side .erweima-box img{
    width:164px;
    height:164px;
}
/* 右侧 */
.right-side{}
.right-side textarea{
    margin-top:80px;
    margin-left:60px;
    width:810px;
    height: 300px;
    border:1px solid #ccc;
    border-radius: 10px;
    outline: none;
    padding:5px;
    font-size: 16px;
}
.right-side textarea::placeholder{
    padding-top:120px;
    text-align: center;
    font-size: 28px;
    color:#d6d6d6;

}
.right-side .button{
    float: right;
    width:300px;
    height: 55px;
    border-radius: 55px;;
    background: #929292;
    text-align: center;
    line-height: 55px;
    font-size: 28px;
    color: #fff;
    margin-top:55px;
    margin-right:12px;
    box-shadow: 7px 10px 1px #ccc;
}
/* 店铺展示 */
.store-display {
    padding:0;
}
.store-display .content-box {
    margin:40px 60px 0px;
}
.store-display .content-box .banner>img{
    width:100%;
}
.store-display .content-box .store-bar {
    margin: 70px -7.5px;
    
}
.store-display .content-box .store-bar .picture{
    padding:0 7.5px;
}
.store-display .content-box .store-bar .picture:hover {
    box-shadow: 0 5px 20px 5px #a8a8a8;
}
.store-display .content-box .store-bar .picture>img{
    width:100%;
    margin-top:30px;
}
/* 掌门社区 */
.community{
    padding:40px 60px 0;
}
.community .left-side{
    padding-right:40px;
    margin-bottom: 90px;
}
.community .left-side .top-article .img-box>img{
    width:100%;
}
.community .left-side .top-article .text-box{
    padding-left: 55px;
}
.community .left-side .top-article .text-box .article-title .date {
    float:left;
    width:60px;
    height: 93px;
    background-color: #dfae75;
    text-align: center;
    line-height: 1;
}
.community .left-side .top-article .text-box .article-title .date .day{
    margin-top:15px;
    font-size: 30px;
    color:#fff;
}
.community .left-side .top-article .text-box .article-title .date .month{
    margin-top:10px;
    font-size: 26px;
    color:#fff;
}
.community .left-side .top-article .text-box .article-title .title{
    padding-left:75px;
}
.community .left-side .top-article .text-box .article-title .title .name{
    line-height: 40px;
    font-size: 40px;
    color:#404040;
}
.community .left-side .top-article .text-box .article-title .title .from{
    color:#959595;
    font-size: 20px;
}
.community .left-side .top-article .text-box .article-main{
    margin-top:40px;
}
.community .left-side .top-article .text-box .article-main p{
    font-size:20px;
    color:#9a9a9a;
}
.community .left-side .top-article .text-box .comment {
    margin-top:120px;
}
.community .left-side .top-article .text-box .comment p{
    font-size:16px;
    color:#ccc;
}
.hot-topic{}
.hot-topic .title{
    font-size: 40px;
    line-height: 50px;
    color:#3e3e3e;
    border-bottom: 1px solid #dadada;
}
.hot-topic .one-topic {
    margin-top:25px;
}
.hot-topic .one-topic .photo{
    float:left;
    width:80px;
    height:80px;
}
.hot-topic .one-topic .user-article{
    padding-left:100px;
}
.hot-topic .one-topic .photo>img{
    width: 100%;
    border-radius: 50%;
}
.hot-topic .one-topic .text-box .user{
    font-size:24px;
    color:#282828;
}
.hot-topic .one-topic .text-box .date{
    font-size:16px;
    color:#c6c6c6;
}
.hot-topic .one-topic .text-box .content{
    font-size:16px;
    color:#7d7d7d;
    line-height: 30px;
}
.hot-topic .one-topic .img-box .article-img{
    float:left;
    margin-right:16px;
}
.hot-topic .one-topic .like-comment {
    margin-top:10px;
}
.hot-topic .one-topic .like-comment .like{
    margin-right:30px;
}
 .page-box{
    margin-top:100px;
    margin-left:100px;
}
 .page-box .page {
    float:left;
    width:40px;
    line-height: 40px;
    height:40px;
    background: #e9e9e9;
    margin-right: 10px;
    text-align: center;
}
.page-box .page-next{
    width:80px;
    height: 40px;
    line-height: 40px;
    background: #e9e9e9;
    text-align: center;
    float:left;
    margin-left:10px;
}
.right-side{
    padding-left:50px;
}
.right-side .btn-box a{
    display: block;
    width:100%;
    height: 65px;
    line-height: 65px;
    text-align:center;
    font-size: 26px;
    color:#fff;
    background-color:#f35c83;
    border-radius: 10px;
}
.right-side .img-box {
    margin-top:35px;
}
.right-side .img-box>img{
    width: 100%;
}
.right-side .pink-bar {
    
   width: 100%;
   height: 227px;
   background-color: pink;
   text-align: center;
}
.right-side .pink-bar .logo,.right-side .pink-bar .erweima{
    margin-top:30px;
}
.right-side .pink-bar .logo{
    margin-right: 10px;
}
.right-side .pink-bar p{
    font-size: 26px;
    color: #000;
}
/* 新闻社区 */
.lastest{
    padding:40px 60px;
}
.lastest .news{
    margin-bottom: 50px;
}
.lastest .col-lg-4 {
    padding-right: 12.5px;
}
.lastest .content-box>img{
   width:100%;
}
.lastest .content-box .text-box{
    padding-left:40px;
}
.lastest .text-box .date {
    font-size: 30px;
    line-height: 80px;
    color:#a4a4a4;
}
.lastest .text-box .title {
    font-size: 34px;
    line-height: 40px;
    color:#000;
}
.lastest .text-box .content {
    font-size: 18px;
    color:#636363;
}
.lastest .title-english {
    font-size:60px;
    color:#808080;
    text-align: center;
    line-height: 1.1;
}
.lastest .title-chinese {
    font-size: 32px;
    color:#403f3f;
    text-align: center;
    line-height: 1.1;
}
.recent-news {
    margin-top:30px;
    margin-bottom: 90px;
}
.recent-news .content-box>img{
    width:100%;
}
.recent-news .text-box {
    padding-left:60px;
}
.recent-news .text-box .title{
    margin-top:90px;
    margin-bottom: 100px;
}
.recent-news .text-box .title p{
    font-size: 38px;
    color:#232323;
}
.recent-news .text-box .title span{
    font-size: 38px;
    color:#949494;
}
.recent-news .text-box .content{
    border-left: 2px solid #ccc;
    padding-left:21px;
}
.recent-news .text-box .button a{
    display:block;
    width:240px;
    height: 50px;
    color:#fff;
    background: #9f9f9f;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    margin-top:80px;
    box-shadow: 0px 10px 20px 3px #ccc;
}
.recent-news.left .content-box {
    margin-left: 80px;
}
.recent-news.left .text-box{
    padding-left:0;
}
.recent-news.left .text-box .content{
    border:0;
    padding-left:0;
    padding-right: 21px;
    border-right: 2px solid #ccc;
 }

