/* 重置样式和公共样式 */
/**************************************** 重置样式 ********************************************/
 *,
*::after,
*::before{
    margin: 0;
    padding:0;
    box-sizing: border-box;
} 
ul,ol{
    list-style: none;
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    outline: none;
    border:none;
}
input,button {
    outline:none;
    border:0;
}
img {
    vertical-align: middle;
}
p{
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
h1,h2,h3{
    padding: 0;
    margin: 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
/****************************************** 公共样式 **************************************************/
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
/* 顶部通栏 */
.top-bar-before{
    height: 120px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index:98;
}
.top-bar {
    height: 120px;
    width: 100%;
    background-color: #d7faff;
    position: fixed;
    z-index:99;
    padding-top:37px;
    overflow: hidden;
    opacity: 0;
}
.top-bar .onelist{
    padding:0 60px;
}
.top-bar .onelist .menu{
    float: left;
    cursor: pointer;
}
.top-bar .onelist .shop{
    float:right;
    cursor: pointer;
}
.top-bar .onelist .search{
    float:right;
    height: 51px;
    overflow: hidden;
    padding-right: 40px;
    transition: all .5s;
}
.top-bar .onelist .search input{
    width:280px;
    height: 45px;
    border:1px solid #bbb;
    border-radius: 23px;
    background-color: rgba(0,0,0,0);
    outline: none;
    text-indent: 20px;
    font-size: 18px;
    display: block;
    float:left;
    margin-right: auto;
    transition: all .5s;
}
.top-bar .onelist .search img{
    margin-top:10px;
    margin-left:-50px;
    cursor: pointer;
    transition: all .5s;
}
.top-bar .onelist .search p {
    display: none;
    transition: all .5s;
    color: #626262;
}

.top-bar .onelist .re-search input{
    width:0;
    border:0;
}
.top-bar .onelist .re-search img{
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.top-bar .onelist .re-search p{
    padding-top: 4px;
    font-size: 14px;
    display: inline-block;
    color: #626262;
}
/* 小圆点伪类 */
.circle{
    position: relative; 
}
.circle:after{
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-clip: content-box;
    padding: 2px;
    border-radius: 50%;
    background-color: #666;
    border: 2px solid #666;
    position: absolute;
    left: 50px;
    top: 9px;
}
/* 左侧导航栏 */
.left-nav{
    position: fixed;
    height: 100%;
    width: 320px;
    background-color: #fff;
    padding-top:30px;
    z-index: 100;
    
}
.left-nav .menu {

    margin-left: 60px;
    height: 28px;
    cursor: pointer;
}
.left-nav .menu img{
    float: left;
}
.left-nav .menu p {
    line-height: 28px;
    margin-left: 40px;
    font-size: 20px;
}
.left-nav .main-nav {
    margin-top:30px;
}
.left-nav ul li a{
    display: block;
    width:270px;
    line-height: 32px;
    padding-left: 75px;
    font-size: 14px;
    background-color:transparent;
    cursor: pointer;
}
.left-nav ul li a:hover{
   background:#d7faff;
}
.left-nav .three-line{
    position: absolute;
    top:50%;
    right:8px;
    transform: translate(0,-50%);
    width:11px;
    height: 414px;
    background: url(../images/three_line.png);
    cursor: pointer;
}
/* 底部盒子 */
.left-nav .bottom-box {
    position: absolute;
    bottom: 0;
    left: 20px;
    width:270px;
    height: 230px;
    border-top:1px solid #585858;
    color:#585858;
    padding-left: 40px;
    padding-top:60px;
}
.bottom-box .name {
    font-size: 30px;
    line-height: 30px;
    font-family: AHS;
    font-weight: lighter;
    letter-spacing: 5px;
}
.bottom-box .short-bar {
    width: 25px;
    height: 1px;
    background: #585858;
    margin:12px 0;
}
.bottom-box .record-number{
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    font-family: simSum;
}
