/* banner */
.banner .swiper-container {
    width: 100%;
    height: 580px;
}
.banner .swiper-slide>img{
    display: block;
    width: 100%;
    height: 580px;
}
/* sm 优势 */
.advantage{
  background-color: #fff;
}
.advantage .adv-list{
    padding:40px 25px 0;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adv-list li{
    width: 288px;
    height: 100%;
    padding:24px 42px;
}
.adv-list li>img{
    float: left; 
    margin-right: 13px; 
}
.adv-list li h5{
    text-indent: 1em;
    font-size: 16px;
    color:#000000;
}
.adv-list li p{
    font-size: 12px;
    color:#4b4b4b;
    margin-top:8px;
}
/* 培训 */
.train {
    margin-top:70px;
}
.title{
    text-align: center;
}
.title h2{
    margin-bottom: 25px;
    font-size: 34px;
    color:#191919;
}
.title p {
    font-size: 22px;
    color:#484848;
}
/* 横线 */
.horiz-bar{
    position: relative;
}
.horiz-bar:after,.horiz-bar:before{
    content:'';
    display: inline-block;
    width: 80px;
    height: 5px;
    background-color: #000;
    vertical-align: middle;
    margin:0px 10px;
}
/* train 中的swiper */
.t-banner{
    margin-top: 60px;

}
.swiper2{
    width:100%;
    height: 434px;
    padding-bottom:74px;
}
.swiper2 .swiper-slide {
    height: 166px;
    width: 282px;
  }
.swiper2 .pagination2 {
    bottom:25px;
}
/* 培训课程 */
.course{
    background-color: #f1f1f1;
    padding-top:65px;
}
.course .title{
    margin-bottom: 70px;
}
/* 课程导航 */
.course-nav{
    height: 36px;
    position: relative;
}
.course-nav .nav-title{
    float: left;
    height: 36px;
    border-left: 5px solid #3f86d6;
    color:#484848;
    padding-left:8px;
}
.course-nav .nav-title h3{
    font-size: 24px;
    line-height: 1;
}
.course-nav .nav-title p{
    margin-top:5px;
    font-size: 12px;
    line-height: 1;
}
.course-nav .course-nav-c {
    margin-left: 250px;
}
.course-nav-c{
    border-bottom: 5px solid #ccc;
    height: 39px;
}
.course-nav-c li{
    float: left;
}
.course-nav-c li  a{
    padding:3px 10px 10px;
    font-size: 16px;
    color:#484848;
}
.course-nav-c li a:hover{
    border-bottom: 5px solid #33a0db;
}
.course-nav-c a{
    float: right;
}
/* 课程详情 */
.course-content {
    margin-top:20px;
}
.course-content .left-side{
    float:left;
}
.course-content .right-side{
    float:left;
    margin-left: 15px;
}
.right-side .top .about-course{
    float:left;
}
.right-side .top .about-course ul{
    float: left;
    width:695px;
    height: 100%;
    background-color: #fff;
    padding-top:10px;
}
.about-course li{
    float:left;
    width:33.333%;
    height: 50%;
    padding:20px 0 15px 20px;
    display: flex;
    align-items: center;
}
.about-course li .bg-box{
    float: left;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: url(../images/icon-computer-a.png)no-repeat center;
}
.about-course li .cont-box{
    padding-left: 10px;
}
.about-course li h4{
    font-size:16px;
    color:#000000;
}
.about-course li p{
    margin-top:5px;
    font-size: 12px;
    color:#464646;
}
.about-course .sm-joinus{
    margin-left: 16px;
    float: right;
    width:264px;
    height: 200px;
}
/* 课程具体内容 */
.right-side .bottom{
    margin-top:20px;
}
.course-detail{
    display: flex;
    justify-content: space-between;
    width:976px;
    height: 184px;
}
.course-detail li{
    position: relative;
    width:314px;
    height: 184px;
    overflow: hidden;
    cursor: pointer;
}
.course-detail li:hover>div{
    bottom: 0;
  
}
.course-detail li img{
    width: 100%;
    height: 100%;
}
.course-detail li div{
    position: absolute;
    left: 0;
    bottom: -32px;
    width:100%;
    height: 32px;
    background-color: #33a0db;
    transition: all 1s ;
}
.course-detail li div>p{
    line-height: 32px;
    text-align: center;
    font-size: 16px;
    color:#ffffff;
}
/* 已毕业学员信息 */
.senior-info .title{
    margin-top:75px;
    margin-bottom: 65px;
}
.swiper3{
    width:100%;
    height: 434px;
    padding-bottom:74px;
}
.swiper3 .swiper-slide {
    height: 166px;
    width: 282px;
  }
.swiper3 .pagination3 {
    bottom:25px;
}
/* 老师信息 */
.teacher{
    background-color: #f1f1f1;
    height: 780px;
}
.teacher .title{
    margin-top:45px;
    margin-bottom: 85px;
}
.swiper4 .swiper-wrapper{
    padding-bottom: 80px;
}
.swiper4 .pagination4 {
    bottom:25px;
}
.swiper4 .swiper-slide{
    padding-top:28px;
}
.start:after {
    content:'';
    display: block;
    position: absolute;
    background:url(../images/icon-start.png) no-repeat center;
    width:39px;
    height: 48px;
    top:5px;
    left:50px;
}
/* 了解我们 */
.sm-info .title{
    margin-top:55px;
    margin-bottom: 70px;
}
.sm-info ul{
    display: flex;
    padding:0 5px 40px;
    justify-content: space-between;
}
.sm-info ul>li{
    width:290px;
}
.sm-info ul>li>img{
    width:100%;
    height: 154px;
    border-radius: 5px;
}
.sm-info li>.sm-content{
    padding-left: 15px;
}
.sm-info li>.sm-content .c-title{
    line-height: 42px;
    font-size: 16px;
    color:#000000;
}
.sm-info li>.sm-content>p{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.sm-info li>.sm-content>p>a{
    line-height: 20px;
    font-size: 12px;
    color:#4e4e4e;
}
.sm-info li>.sm-content .more{
    float:right;
    font-size: 14px;
    color:#000000;
}
/* 学校环境 */
.school-env{
    background-color: #f1f1f1;
    height: 760px;
}
.school-env .title{
   padding-top:60px;
    margin-bottom: 70px;
}
.school-env .school-imgs{
    display:flex;
    justify-content: space-between;
}
.school-env .school-imgs li{
    position: relative;
    width:292px;
    height: 460px;
    border-radius: 10px;
    overflow: hidden;
}
.school-env .school-imgs li:hover p{
    bottom: 0;
}
.school-env .school-imgs li p{
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-right: 20px;
    background-color:rgba(0,0,0,0.66);
    text-align: right;
    color:#fff;
    font-size: 16px;
    transition: all 1s;
}

/* 合作伙伴 */
.partner{
    background-color: #fff;
    height: 660px;
}
.partner .title{
    padding-top:60px;
    margin-bottom: 60px;
}
.partner .partner-lists{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}
