@charset "utf-8";
/* CSS Document */
.video{	
	height: 470px;
	background-color: #526da0;
}
.inner{
	width:1200px;
	margin:0 auto;
	overflow:hidden;
	}
.crumbs{
	line-height:45px;
	color:#f2f2f2;
	}
.crumbs a{
	color:#f2f2f2;}
.crumbs a:hover{
	text-decoration:underline;}
.video-l{
	float:left;}
.video-r{
	width: 280px;
	height: 380px;
	background-color: #fff;
	float: right;
	padding:20px 15px 0;
	}
.video-r h2{
	font-size:24px;
	font-family:"microsoft yahei";
	color:#333;
	height:35px;}	

.video-r p{
	line-height: 20px;
	color:#666;}	
	
.date{
	margin:30px 0 20px;}	
	
.price{
	font-size:24px;
	font-family:"microsoft yahei";
	color:#ff6400;}	
.buy{
	margin:45px 0 25px;
	}	
.listen a{
	float:left;
	width: 130px;
	height: 46px;
	background-color: #ff6400;
	color:white;
	border-radius:5px;
	text-align:center;
	line-height:46px;
	margin-right:6px;}	
	
	
	
	
	