


// 浏览器兼容性
$lte7: true !default;                 // 是否兼容ie7以及以下  默认兼容
$filter: true !default;               // 是否使用ie滤镜       默认使用
$old: false !default;                 // 是否兼容老旧浏览器   默认不兼容


$base-font-size: 12px !default;       // 基础文字大小
$base-line-height: 1.5 !default;      // 基础行高缩放因子

$base-text-font: "SimSun", "\5B8B\4F53", sans-serif;                        // 宋体 正文文字
$base-headings-font: "Microsoft Yahei", "\5FAE\8F6F\96C5\9ED1", sans-serif; // 微软雅黑 标题文字

$base-text-color: #444;               // 正文颜色
$base-headings-color: #161e21;        // 标题颜色


$FontAwesomePath: "font";             // 修改 font 路径