/**
 * TML 表单样式
 * @version 1.0.3
 * @author zhanjiang
 * @update 20140705
 */


/* 标准合同表单 */
.tml-form-row {
  padding-left: 124px;
}

.tml-form-col {
  padding-left: 124px;
}

.tml-form-row .textInput,
.tml-form-col .textInput,
.tml-form-row select,
.tml-form-col select {
  background-color: #fff;
  border-color: #bbb;
  border-radius: 4px;
  color: #666;
  font-size: 14px;
  padding: 3px;
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
}

.tml-form-row input.textInput,
.tml-form-col input.textInput {
  height: 18px;
  line-height: 18px;
}

.tml-form-row input.focus,
.tml-form-row textarea.focus,
.tml-form-col input.focus,
.tml-form-col textarea.focus {
  border-color: #52a8ec;
}

.tml-form-row .textInput:focus,
.tml-form-col .textInput:focus {
  border-color: #52a8ec;
	@include box-shadow(inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6));
}

.tml-form-row input.readonly,
.tml-form-row textarea.readonly,
.tml-form-col input.readonly,
.tml-form-col textarea.readonly {
	background-color: #f8f8f8;
	border-color: #aaa;
	@include box-shadow(none);
	cursor: not-allowed;
}

.tml-form-row input.readonly:focus,
.tml-form-row textarea.readonly:focus,
.tml-form-col input.readonly:focus,
.tml-form-col textarea.readonly:focus {
	@include box-shadow(none);
}

.tml-form-row input.error,
.tml-form-row textarea.error,
.tml-form-col input.error,
.tml-form-col textarea.error {
  background-color: #fff3f3;
  border-color: #f80c11 #fb7e81 #fb7e81 #f80c11;
}

.tml-form-row label,
.tml-form-col label {
  color: black;
  float: left;
  font: bold 14px/30px $base-headings-font;
  margin-left: -130px;
  text-align: left;
  text-indent: 1em;
  width: 120px;
  @include ellipsis;
}

.tml-form-row .tml-radio,
.tml-form-row .tml-checkbox {
  line-height: 32px;
  min-height: 32px;
}

.tml-form-row .tml-radio label,
.tml-form-row .tml-checkbox label,
.tml-form-col .tml-radio label,
.tml-form-col .tml-checkbox label {
  font-family: $base-text-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-indent: 0;
  width: auto;
}

.tml-form-row .tml-checkbox input,
.tml-form-row .tml-radio input,
.tml-form-col .tml-checkbox input,
.tml-form-col .tml-radio input {
  margin-top: 8px;
  margin-top: 5px\9;
}

.tml-form-row .tml-input-append .textInput,
.tml-form-col .tml-input-append .textInput,
.tml-form-row .tml-input-append2 .textInput,
.tml-form-col .tml-input-append2 .textInput,
.tml-form-row .tml-input-find .tml-find-num,
.tml-form-row .xyInputWithUnit .textInput,
.tml-form-col .xyInputWithUnit .textInput {
	border-radius: 4px 0 0 4px;
}

.tml-form-row .tml-input-find .btnLook {
	background: #f2f2f2 url(i/input_bt.png) -30px -90px;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	height: 30px;
	width: 30px;
}

.tml-form-row .tml-input-find .tml-find-name {
	background: #fff;
	border-radius: 0;
}

.tml-form-row .tml-input-find .tml-find-name2 {
	border-radius: 0 4px 4px 0;
}

.tml-form-row span.error,
.tml-form-col span.error {
	margin: 8px 4px 0;
}

.xyInputWithUnit span.error,
.tml-input-append span.error,
.tml-input-append2 span.error {
	float: right;
}

.tml-form-row .xyInputWithUnitButton,
.tml-form-col .xyInputWithUnitButton {
	background: #f2f2f2 url(i/input_bt.png) no-repeat;
	border: 1px solid #aaa;
	border-left: none;
	border-radius: 0 4px 4px 0;
	height: 30px;
	margin-top: 0;
	width: 30px;
}

.tml-form-row .inputDateButton {
	background-position: 0 0;
}

.tml-form-row .inputDateButton:hover {
	background-position: -30px 0;
}

.tml-form-col .inputDateButton {
	background-position: 0 0;
}

.tml-form-col .inputDateButton:hover {
	background-position: -30px 0;
}

.tml-form-row .inputCheckForButton,
.tml-form-col .inputCheckForButton {
	background-position: 0 -30px;
}

.tml-form-text {
  color: #999;
  float: left;
  line-height: 32px;
}

.input-addon-unit,
.input-addon-link {
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #fafafa, #e0e0e0);
  background-image:         linear-gradient(to bottom, #fafafa, #e0e0e0);
  border: 1px solid #bbb;
  border-left: none;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  color: #555;
  float: left;
  height: 30px;
  line-height: 32px;
  overflow: hidden;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 30px;
}

.input-addon-link {
	font-size: 16px;
}

.input-addon-link:hover {
	background-color: #e5e5e5;
}

/* 文本框附件 */
.input-addon {
  background: #f2f2f2 url(i/input_bt.png) no-repeat;
  border: 1px solid #bbb;
  border-left: none;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  float: left;
  height: 30px;
  text-indent: -9999px;
  width: 30px;
}

.input-addon-addon {
  -webkit-border-radius: 0;
  border-radius: 0;
  border-right: none;
}

.input-addon-calendar {
	background-position: -30px 0;
}

.input-addon-add {
	background-position: 0 -90px;
}

.input-addon-userplus {
	background-position: -30px -90px;
}

.input-addon-recycle {
	background-position: -60px -90px;
}

.input-addon-salary {
	background-position: -90px -60px;
}

.input-addon-refresh {
	background-position: -120px -90px;
}

.tml-form-row .combox,
.tml-form-row .combox div,
.tml-form-row .combox div a,
.tml-form-col .combox,
.tml-form-col .combox div,
.tml-form-col .combox div a {
	background: url(i/select.png) no-repeat;
}

.tml-form-row .combox,
.tml-form-col .combox {
	background-position: 100% -35px;
	background-repeat: repeat-x;
}

.tml-form-row .combox .select a,
.tml-form-col .combox .select a {
	height: 32px;
	padding: 0 34px 0 6px;
	line-height: 32px;
	font-size: 14px;
	background-position: 100% -70px;
}

/* 合同表单 */
.keepContentCenter {
	background: #f3f3f3;
	border: 1px solid #d3d3d3;
	margin: 0 auto 5px;
	padding: 0 0 5px;
	width: 940px;
}

.keepContentCenter h2.contentTitle {
	@include linear-gradient(#f3f2f2, #dfdfdf);
	border-bottom: 1px solid #cecece;
	@include box-shadow(inset 0 1px 0 0 #f8f8f8);
	font-family: $base-headings-font;
	font-size: 20px;
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	*zoom: 1;
}

.contentTitle .auto_code {
	font-size: 12px;
	right: 10px;
}

.keepContentCenter fieldset {
	margin: 0 75px 20px;
	padding: 0;
}

.keepContentCenter fieldset legend {
	background: none;
	border-bottom: 1px solid #d3d3d3;
	@include box-shadow(0 1px 0 #fbfbfb);
	color: #15428b;
	font-size: 14px;
	line-height: 30px;
	margin-bottom: 20px;
	padding: 0;
	text-align: left;
	width: 100%;
	*width: 94%;
}

.keepContentCenter fieldset legend:hover {
	background-color: transparent;
}

.keepContentCenter fieldset legend b {
	background: #888;
	border: 1px solid #c3c3c3;
	@include border-radius(4px);
	@include box-shadow(inset 0 4px 15px rgba(0,0,0,.4));
	color: #fff;
	display: inline-block;
	margin-bottom: 20px;
	padding: 0 16px;
	position: relative;
	text-indent: 0;
}

.keepContentCenter fieldset legend b:before {
	background: url(i/tmlbg.png) no-repeat -30px 0;
	content: "\00a0";
	height: 14px;
	left: 50%;
	margin-left: -12px;
	position: absolute;
	bottom: -23px;
	width: 24px;
}

.xyPrevButton,
.xyNextButton,
.xyPrevButtonDisable,
.xyNextButtonDisable {
	background: url(i/tmlbg.png) no-repeat 0 0;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin: 0 10px 0 0;
	vertical-align: middle;
	width:14px;
}

.xyNextButton,
.xyNextButtonDisable {
	background-position: -15px 0;
}

.xyPrevButtonDisable,
.xyNextButtonDisable {
	visibility: hidden;
}

.keepContentCenter .tml-form-col {
	width: 270px;
}

.keepContentCenter .tml-form-col .textInput {
  height: 24px;
  line-height: 24px;
  width: 224px;
}

.keepContentCenter .tml-form-row .textInput {
  height: 24px;
  line-height: 24px;
  width: 619px;
}

/* 文本框追加一个按钮 */
.keepContentCenter .tml-form-col .tml-input-append .textInput {
	width: 194px;
}

.keepContentCenter .tml-form-row .tml-input-append .textInput {
	width: 588px;
}

.keepContentCenter .tml-form-col .tml-input-append .combox {
  margin-right: 0;
}

.keepContentCenter .tml-form-col .tml-input-append .combox .select a {
  width: 161px;
}

/* 文本框追加两个按钮 */
.keepContentCenter .tml-form-col .tml-input-append2 .textInput {
	width: 163px;
}

.keepContentCenter .tml-form-row .tml-input-append2 .textInput {
	width: 557px;
}

.keepContentCenter .input-addon {
  height: 30px;
  width: 30px;
}

/**
 * 编号名称混合按钮
 * div.tml-input-find >
 *   input.tml-find-num +
 *   a.input-addon.input-addon-addon +
 *   input.tml-find-name +
 *   a.input-addon
 */
.keepContentCenter .tml-form-row .tml-input-find .tml-find-num {
	width: 194px;
}

.keepContentCenter .tml-form-row .tml-input-find .tml-find-name {
	width: 356px;
}

.keepContentCenter .tml-form-row .tml-input-find .tml-find-name2 {
	border-left: none;
	width: 416px;
}

.keepContentCenter .addressee .textInput {
	@include box-shadow(none);
	height: 18px;
	width: auto;
}

.keepContentCenter .xyInputWithUnit {
	width: 258px;
}

.keepContentCenter .xyInputWithUnit .textInput {
	width: 194px;
}

.keepContentCenter .tml-form-col .combox .select a {
	max-width: none;
	text-align: center;
	width: 193px;
}

.keepContentCenter .tml-select-block .combox .select a {
	max-width: none;
	text-align: center;
	width: 587px;
} 

.keepContentCenter .tml-input-select .textInput {
	margin-right: 4px;
	width: 60px;
}

.keepContentCenter .tml-input-select .combox .select a {
	width: 120px;
}


/* 上下结构表单 */
.headProcessDetail:link,
.headProcessDetail:visited {
	color: #36c;
	font-family: $base-text-font;
	font-size: 14px;
	font-weight: 400;
}
.headProcessDetail:hover {
	color: #15428B;
}

.xyEditForm {
	border: 0 solid #cecece;
	padding: 0;
}

.xyEditForm .xyEditFormCon {
	background-color: #f3f3f3;
	border: 1px solid #99bbe8;
	padding: 0;
}

.xyEditForm .xyEditFormPanel {
	padding: 10px;
}

.xyEditFormDetail {
	border: 0 solid #99bbe8;
	border-width: 0 1px;
	margin: 0 10px;
}

.xyEditForm .contentTitle {
	border: none;
}

.xyEditForm .auto_code {
	line-height: 14px;
	top: 10px;
}

.xyEditForm .auto_code .textInput {
	line-height: 12px;
	padding: 0;
	width: 120px;
}

.xyEditForm .auto_code .xycodedata_read {
  background: none;
  border: none;
  color: #b94a48;
  float: none;
}

.xyEditForm .auto_code .xycodedata_write {
  background: none;
  border: none;
  color: #b94a48;
  float: none;
}

.xyEditFormIcon {
  top: 10px;
}

.edit-form-col {
  float: left;
  min-width: 340px;
  padding: 0;
  position: relative;
  white-space: nowrap;
  width: 32%;
}

.edit-form-col label {
  float: left;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  padding: 0 5px;
  text-indent: 0;
  white-space: nowrap;
  width: 90px;
}

.edit-form-col label a {
	text-decoration: underline;
}

.edit-form-col .textInput {
	@include border-radius(3px);
	float: left;
	@include transition(border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s);
	width: 230px;
}

.edit-form-col input.focus {
	border-color: #52a8ec;
}

.edit-form-col input.readonly {
	border-color: #ccc;
}

.edit-form-col .textInput:focus {
	@include box-shadow((0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)));
}

.edit-form-col .textInput.readonly:focus {
	@include box-shadow(none);
}

.edit-form-col input.readonly {
	cursor: not-allowed;
}

.edit-form-col .tml-input-append .textInput {
	width: 214px;
}

.edit-form-col .tml-input-2 .textInput {
	margin-right: 2px;
	width: 111px;
}

.edit-form-col .tml-input-date .textInput {
	width: 87px;
}

.edit-form-col .tml-input-find .tml-find-num {
	margin-right: 2px;
	width: 70px;
}

.edit-form-col .tml-input-find .tml-find-name {
	width: 120px;
}

.edit-form-col .tml-checkbox label,
.edit-form-col .tml-radio label {
	overflow: visible;
	padding: 0;
}

.edit-form-col .inputInfo {
	padding: 0 5px;
	line-height: 21px;
}

.edit-form-col span.info {
	color: #7f7f7f;
	display: block;
	float: left;
	line-height: 21px;
}

.edit-form-col .combox {
	background: none;
	border-bottom: 1px solid #d5dbdf;
	height: 19px;
}

.edit-form-col .combox .select {
	background: none;
	height: 19px;
}

.edit-form-col .combox .select a {
  background: url(i/tip.png) no-repeat right center;
  height: 19px;
  line-height: 19px;
  max-width: none;
  padding: 0 16px 0 4px;
  width: 216px;
}

.edit-form-col .xyInputWithUnit {
	background: none;
	float: left;
	width: 236px;
}

.edit-form-col .xyInputWithUnit .textInput {
	width: 214px;
}

.edit-form-text {
  color: #999;
  float: left;
  line-height: 25px;
}

/** 
 * 右侧上下结构表单
 * 减少了宽度以适应较小的界面
 */
.edit-form-mini .edit-form-col .edit-form-col {
	float: left;
	margin: 0 0 6px;
	min-width: 340px;
	padding: 0;
	position: relative;
	white-space: nowrap;
	width: 32%;
}

.edit-form-mini .edit-form-col .textInput {
	width: 170px;
}

.edit-form-mini .edit-form-col .tml-input-append .textInput {
	width: 110px;
}

.edit-form-mini .edit-form-col .tml-input-find .tml-find-num {
	margin-right: 2px;
	width: 70px;
}

.edit-form-mini .edit-form-col .tml-input-find .tml-find-name {
	width: 120px;
}

.edit-form-mini .edit-form-col .combox .select a {
	width: 156px;
}

.edit-form-mini .edit-form-col .xyInputWithUnit {
	width: 176px;
}

.edit-form-mini .edit-form-col .xyInputWithUnit .textInput {
	width: 154px;
}

/** 
 * dialogue
 * 对话框表单样式
 * 重置了各种宽度高度
 */
.dialog,
.edit-form {
  .tml-form-row {
    padding-left: 130px;
  }

  .tml-form-col {
    min-height: 26px;
    padding-left: 130px;
    padding-bottom: 4px;
    width: 200px;
  }

  .tml-form-row input.textInput,
  .tml-form-col input.textInput {
    height: 18px;
    line-height: 18px;
  }

	.tml-form-row label,
	.tml-form-col label {
    background-color: #fafafa;
		font: 400 12px $base-text-font;
		line-height: 26px;
		margin-left: -100px;
		width: 80px;
	}

	.tml-form-row .form-label,
	.tml-form-col .form-label {
		line-height: 32px;
		margin-left: -90px;
		width: 80px;
	}

	.tml-form-row .tml-radio label,
	.tml-form-row .tml-checkbox label,
	.tml-form-col .tml-radio label,
	.tml-form-col .tml-checkbox label {
    margin: 0;
    width: auto;
	}

	.tml-form-col .textInput {
    width: 184px;
	}

	.tml-form-row .textInput {
    width: 514px;
	}

	.tml-form-col .tml-input-append .textInput {
    width: 159px;
	}

	.tml-form-row .tml-input-append .textInput {
		width: 460px;
	}

	.tml-form-col .tml-input-append2 .textInput {
		width: 135px;
	}

	.tml-form-row .tml-input-append2 .textInput {
		width: 436px;
	}

	.tml-form-col .tml-input-date .textInput {
		width: 137px;
	}

	.tml-form-row .tml-input-date .textInput {
		width: 188px;
	}

	.tml-form-row .tml-input-find .tml-find-num {
		width: 159px;
	}

	.tml-form-row .tml-input-find .tml-find-name {
		width: 318px;
	}

	/* 多文本框表单行 */
	.tml-form-row .tml-input-group .textInput {
		width: 120px;
	}
    
  .addressee {
    min-height: 24px;
  }

	.addressee input.textInput {
		@include box-shadow(none);
		height: 14px;
		line-height: normal;
		width: auto;
	}

	.xyInputWithUnit {
		width: 167px;
	}

	.xyInputWithUnit .textInput {
		width: 109px;
	}

	.tml-form-col .combox .select a {
		max-width: none;
    width: 157px;
	}

  .tml-form-col .tml-input-append .combox .select a {
    width: 129px;
  }

	.tml-select-block .combox .select a {
    max-width: none;
    text-align: center;
    width: 372px;
	} 

	.tml-input-select .textInput {
    margin-right: 4px;
    width: 50px;
	}

	.tml-input-select .combox .select a {
		width: 90px;
	}

	.edit-form-col {
		margin-bottom: 5px;
		min-width: 310px;
	}

	.tml-form-row .xyInputWithUnitButton,
	.tml-form-col .xyInputWithUnitButton {
		height: 24px;
		width: 24px;
	}

	.tml-form-row .inputDateButton {
		background-position: -3px -3px;
	}

	.tml-form-row .inputDateButton:hover {
		background-position: -33px -3px;
	}

	.tml-form-col .inputDateButton {
		background-position: -3px -3px;
	}

	.tml-form-col .inputDateButton:hover {
		background-position: -33px -3px;
	}

	.tml-form-row .inputCheckForButton,
	.tml-form-col .inputCheckForButton {
		background-position: -3px -33px;
	}

	.tml-form-text {
    line-height: 26px;
	}

	.input-addon-unit,
	.input-addon-link {
		height: 24px;
		line-height: 24px;
		width: 24px;
	}

	/* 文本框附加内容 */
	.input-addon {
		height: 24px;
		width: 24px;
	}

	.input-addon-calendar {
		background-position: -33px -3px;
	}

	.input-addon-add {
		background-position: -3px -93px;
	}

	.input-addon-userplus {
		background-position: -33px -93px;
	}

	.input-addon-recycle {
		background-position: -63px -93px;
	}

	.input-addon-salary {
		background-position: -93px -63px;
	}

	.input-addon-refresh {
		background-position: -123px -93px;
	}

	.tml-form-row .combox,
	.tml-form-row .combox div,
	.tml-form-row .combox div a,
	.tml-form-col .combox,
	.tml-form-col .combox div,
	.tml-form-col .combox div a {
		background-image: url(i/select-small.png);
	}

	.tml-form-row .combox .select a,
	.tml-form-col .combox .select a {
    color: #444;
		height: 26px;
		line-height: 26px;
    max-width: none;
    padding-right: 29px;
    text-align: center;
	}

  .dialog-box {
    margin: 10px 36px 0;
  }

  .data-table td,
  .data-table th {
    padding: 4px;
  }

  .data-table thead td,
  .data-table thead th {
    background-color: #f2f2f2;
    color: #4daacc;
  }
}

.panelBar .searchBar .searchContent .tml-input-append {
	float: left;
	width: 92px;
}

.panelBar .searchBar .searchContent .tml-input-append .textInput {
	background: none;
	float: left;
	height: 15px;
	width: 72px;
}

.panelBar .searchBar .searchContent .tml-form-text {
	display: inline;
	line-height: 26px;
}

/* 去掉边框背景的 input */
input.data-input {
  background: none;
  border: none;
}

/* 表单固定头部 */
.form-affix-title.affix {
	padding: 0;
	position: fixed;
	top: 83px;
	width: 940px;
	z-index: 1000;
}

.form-affix-content.affix {
	margin-top: 36px;
}

.article-content p {
  float: none;
  padding: 0;
  width: auto;
}