// 变量

$brand-primary: #4daacc; //#0678ce
$brand-info: #2aaedf;

$link-color: #428bca !default;
$link-hover-color: darken($link-color, 15%) !default;

$color-primary: $brand-primary;
$color-primary-hover: darken($color-primary, 8%);

$color-success: #6ab620;
$color-success-hover: darken($color-success, 8%);

$color-danger: #ef715b;
$color-danger-hover: darken($color-danger, 8%);

$color-blue:    #0678ce;
$color-green:   #00a300;
$color-orange:  #e3a21a;
$color-pink:    #9f00a7;
$color-purple:  #603cba;
$color-red:     #f00;
$color-yellow:  #ffc40d;
$color-white:   #fff;