<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css"/>
	<style>
        *{margin: 0;padding:0;}
        table{
            table-layout:fixed;
        }
		td{
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			width: 50px;
		}
	</style>
</head>
<body>
<div id="app">
   <div class="refresh" style="display:none">刷新中.....</div>
    <comp-table v-bind:list="list">

    </comp-table>
    <div class="loading" style="display:none">加载中.....</div>
</div>
<template id="tpl">
    <div class="data-table">
            <div class="t_l">
                <table>
                    <tbody>
                        <tr>
                            <th>员工</th>
                        </tr>
                    </tbody>
                </table>
                <div class="t_l_freeze">
                    <table>
                        <tr v-for="item in list">
                            <td>{{item.user_name}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="t_r">
                <div class="t_r_t">
                    <table>
                        <tbody>
                        <tr>
                            <th style="width:50px">部门</th>
                            <th>年龄</th>
                            <th>性别</th>
                            <th>籍贯</th>
                            <th>婚否</th>
                            <th>备注</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="t_r_content">
                    <table>
                        <tbody>
                            <tr v-for="item in list" @click="fn">
                                <td style="width:50px">{{item.depart_name}}</td>
                                <td>{{item.age}}</td>
                                <td>{{item.sex}}</td>
                                <td>{{item.birth_place}}</td>
                                <td>11</td>
                                <td>{{item.remark}}</td>
                            </tr>   
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</template>


<script src="js/jquery.min.js"></script>
<script src="js/iscroll-probe.min.js"></script>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    var refreshstart = 0;
    var loadingstart = 0; 
    Vue.component("compTable",{
        template:"#tpl",
        props:["list"],
        mounted : function(){
    	    var self = this;
    	    self.tableScroll();
        },
        methods:{
            tableScroll : function(){
                var win = $(window),
                scrollAreaEl = $('.t_r_content'),
                leftFreezeEl = $('.t_l_freeze'),
                leftTableEl = leftFreezeEl.find('table'),
                rightTableEl = $('.t_r_t table');
                function adjustHeight() {
                    var winHeight = win.height()-200,
                        tableHeight = winHeight;
                        console.log(winHeight);
                    leftFreezeEl.height(tableHeight);
                    scrollAreaEl.height(tableHeight);
                }
                adjustHeight();
                win.resize(function(){
                    adjustHeight();
                }); 
                var myScroll = new IScroll('.t_r_content', {
                    scrollX: true,
                    scrollY: true,
                    probeType: 3
                });
                scrollAreaEl.on('touchmove mousewheel', function(e) {
                    e.preventDefault();
					console.log(e);
                });
                myScroll.on('scroll', updatePosition);
                myScroll.on('scrollEnd', updatePositionEnd); 
                function updatePositionEnd() {  
                    myScroll.refresh();
                    var y = this.y;
                    var x = this.x;
                    if(y==0&&(new Date()-refreshstart>100)){
                        console.log(new Date()-refreshstart);
                        console.log("我要刷新");
                        // $(".refresh").css("display","block");
                        alert("刷新数据中")
                        setTimeout(function(){
                            $(".refresh").css("display","none");
                        },2000)
                    }
                    if(y==this.maxScrollY&&(new Date()-loadingstart>100)){
                        console.log(new Date()-loadingstart);
                        console.log("我要加载");
                        alert("加载更多数据中");
                        // $(".loading").css("display","block");
                        setTimeout(function(){
                            $(".loading").css("display","none");

                        },2000)
                    }
                    refreshstart= 0;
                    loadingstart = 0;
                    // console.log(this.maxScrollY);
                    // console.log(x);
                    leftTableEl.css('transform', 'translate(0px, ' + y + 'px) translateZ(0px)');
                    rightTableEl.css('transform', 'translate(' + x + 'px, 0px) translateZ(0px)');
                }

                function updatePosition() {  
                    myScroll.refresh();
                    var y = this.y;
                    var x = this.x;
                    if(y == 0){
                      refreshstart = new Date();
                    }
                    if(y==this.maxScrollY){
                       loadingstart = new Date();
                    }
                   
                    // if(y==0){
                    //     console.log("我要刷新");
                    // }
                    // if(y==this.maxScrollY){
                    //     console.log("我要加载");
                    // }
                    // console.log(this.maxScrollY);
                    // console.log(x);
                    leftTableEl.css('transform', 'translate(0px, ' + y + 'px) translateZ(0px)');
                    rightTableEl.css('transform', 'translate(' + x + 'px, 0px) translateZ(0px)');
                }
    	    },
            fn:function(){
                console.log(1);
            } 
        }    
    });
    var app = new Vue({
    el: '#app',
    data: {
    	list:[
		{
		     "user_name":"李天水",
			 "depart_name":"技术部们技术部们技术部们技术部们技术部们",
			 "age":"25",
			 "birth_place":"浙江省杭州市",
			 "remark":"无"
		},
		{
		     "user_name":"李天水",
			 "depart_name":"技术部",
			 "age":"25",
			 "birth_place":"浙江省杭州市",
			 "remark":"无"
		},
		{
		     "user_name":"李天水",
			 "depart_name":"技术部",
			 "age":"25",
			 "birth_place":"浙江省杭州市",
			 "remark":"无"
		},
		{
		     "user_name":"李天水",
			 "depart_name":"技术部",
			 "age":"25",
			 "birth_place":"浙江省杭州市",
			 "remark":"无"
		},
		{
		     "user_name":"李天水",
			 "depart_name":"技术部",
			 "age":"25",
			 "birth_place":"浙江省杭州市",
			 "remark":"无"
		},
		{
		     "user_name":"李天水",
			 "depart_name":"技术部",
			 "age":"25",
			 "birth_place":"浙江省杭州市",
			 "remark":"无"
		},
		{
		     "user_name":"李天水",
			 "depart_name":"技术部",
			 "age":"25",
			 "birth_place":"浙江省杭州市",
			 "remark":"无"
		},
		{
		     "user_name":"李天水",
			 "depart_name":"技术部",
			 "age":"25",
			 "birth_place":"浙江省杭州市",
			 "remark":"无"
		},
		{
		     "user_name":"李天水",
			 "depart_name":"技术部",
			 "age":"25",
			 "birth_place":"浙江省杭州市",
			 "remark":"无"
		},
		{
		     "user_name":"李天水",
			 "depart_name":"技术部",
			 "age":"25",
			 "birth_place":"浙江省杭州市",
			 "remark":"无"
		},
		{
		     "user_name":"李天水",
			 "depart_name":"技术部",
			 "age":"25",
			 "birth_place":"浙江省杭州市",
			 "remark":"无"
		},
		{
		     "user_name":"李天水",
			 "depart_name":"技术部",
			 "age":"25",
			 "birth_place":"浙江省杭州市",
			 "remark":"无"
		},
		{
		     "user_name":"李天水",
			 "depart_name":"技术部",
			 "age":"25",
			 "birth_place":"浙江省杭州市",
			 "remark":"无"
		},
		{
		     "user_name":"李天水",
			 "depart_name":"技术部",
			 "age":"25",
			 "birth_place":"浙江省杭州市",
			 "remark":"无"
		},
		{
		     "user_name":"李天水",
			 "depart_name":"技术部",
			 "age":"25",
			 "birth_place":"浙江省杭州市",
			 "remark":"无"
		},
		{
		     "user_name":"李天水",
			 "depart_name":"技术部",
			 "age":"25",
			 "birth_place":"浙江省杭州市",
			 "remark":"无"
		},
		{
		     "user_name":"李天水",
			 "depart_name":"技术部",
			 "age":"25",
			 "birth_place":"浙江省杭州市",
			 "remark":"无"
		},
		{
		     "user_name":"李天水",
			 "depart_name":"技术部",
			 "age":"25",
			 "birth_place":"浙江省杭州市",
			 "remark":"无"
		},
		{
		     "user_name":"李天水",
			 "depart_name":"技术部",
			 "age":"25",
			 "birth_place":"浙江省杭州市",
			 "remark":"无"
		},
		{
		     "user_name":"李天水",
			 "depart_name":"技术部",
			 "age":"25",
			 "birth_place":"浙江省杭州市",
			 "remark":"无"
		},
		{
		     "user_name":"李天水",
			 "depart_name":"技术部",
			 "age":"25",
			 "birth_place":"浙江省杭州市",
			 "remark":"无"
		}
		]
    }
  });



























</script>
</body>
</html>