
/* 登陆页面样式 */
.big-box{
    height: 100%;
    background-image: url(../images/bg-login.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.position-box{
    width:725px;
    position: absolute;
    left:50%;
    top:10%;
    transform: translate(-50%,0%);
    background-color: #fff;
}
.login-box{
    background-color: #fff;
    padding:50px 100px 0;
    border-radius: 10px 10px 0 0;
}
.login-box ul li {
    float:left;
    width:50%;
    text-align: center;
}
.login-box ul li a{
    font-size: 30px;
    color:#bbbbbb;
    text-decoration: none;
}
.login-box .tab-content form>div{
    margin-bottom: 40px;
}
.login-box .tab-content form>div>input{
    height: 70px;
    font-size: 20px;
}
.btn-custom{
    background-color: #1577e4;
}
.login-btn{
    font-size: 30px;
    color:#fff;
}
.login-box .title .active>a{
    color:#000;
}
.login-box .forget-pas{
    margin-top:-30px;
    padding-bottom: 60px;
    font-size: 20px;
    color:#a7a7a7;
    vertical-align: middle;
}
.login-box .forget-pas>a{
    color:#a7a7a7;
}
.login-box .forget-pas>input{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    outline: none;
    vertical-align: middle;
    margin-top:-6px;
    cursor: pointer;
}
.login-box .forget-pas>label{
    vertical-align: middle;
}
.big-box .register-box .register{
    display: block;
    width:100%;
    line-height: 85px;
    text-decoration: none;
    font-size: 24px;
    background-color: #000;
    text-align: center;
    color:#fff;
}
/* ************************************* */
/* 注册页面 */
.register{
    padding-left:100px;
    padding-right: 100px;
}
.register h1{
    margin-top:25px;
    margin-bottom: 20px;
    font-size: 30px;
    color:#333333;
    text-align: center;
}
.register>div{
    height: 110px;
}
.register input{
    height: 70px;
    font-size: 20px;
    box-sizing: border-box;
    padding-right: 30px;
}
.register input.long{
    width:100%;
    border:1px solid #d4d4d4;
    text-indent: 1em;
}
.register input.mess-ver{
    border:1px solid #d4d4d4;
    width:330px; text-indent: 1em;
}
.register input.get-ver{
    width:182px;
    float:right;
    background-color: #1577e4;
}
.register input:focus{
    border-color: #1577e4;
}
.register input.error{
    border-color:#d81e06;
}
.register .yxzc {
    float:right;
    margin-top:10px;
}
.error-tips {
    visibility: hidden;
    padding:10px;
}
.error-tips img{
    vertical-align: middle;
}
.error-tips span{
    color:#d81e06;
}
.ok{
    position: relative;
}
.ok::after{
    position: absolute;
    content: url(../images/icon-ok.png);
    right: 8px;
    top:   19px;
}
.registered a{
    display: block;
    width:100%;
    line-height: 85px;
    text-decoration: none;
    font-size: 24px;
    background-color: #000;
    text-align: center;
    color:#fff;
}
/* 注册成功页面 */
.zhezhao{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}
.position-box-s{
    position: absolute;
    left:50%;
    top:20%;
    transform: translate(-50%,0);
    width:700px;
}
.r-s-b{
    text-align:center;   
}
.r-s-b p{
    
    line-height: 50px;
    color:#fff;
    font-size: 30px;
}
.r-s-b button{
    margin-top:20px;
    border:0;
    width:80%;
    height: 80px;
    background-color: #1577e4;
    color:#fff;
}
.r-s-b button>a{
    font-size: 30px;
    color:#fff;
}
/* 个人中心 */
.p-head{
    height: 200px;
    background-color: #3399ff;
    padding-top:30px;
}
.p-head .logo{
    width:385px;
    float:left;
}
.p-head .h-right{
    float:right;
    margin-top:30px;
    font-size: 24px;
    color: #fff;
    text-align: right;
    color:#fff;
}
.p-head .h-right a{
    color:#fff
}
.p-head .h-right span{
    margin:0 15px;
}

.p-head .p-nav{
   margin-top:45px;
}
/* 主内容 */
.p-main{
    margin-bottom: 60px;
}
/* 个人中心内容左侧 */
.p-main .p-left-side{
    float:left;
    width:295px;
    border: 1px solid #666666;
}
.p-info{
    padding-left:20px;
}
.p-info .p-photo{
    text-align: center;
}
.p-info .p-photo>img{
    width:180px;
    height: 180px;
    margin-left:-20px;
}
.p-info .wk{
    font-size:20px;
    color:#333333;
    margin-bottom: 30px;
}
.p-info .p-message{
    font-size:20px;
    color:#333333;
    margin-bottom: 15px;
}
.p-info .account{
    line-height: 35px;
    padding-bottom: 15px;
    color:#b0b0b0;
    font-size: 18px;
}
.p-info .account .blance{
    color:#ff5533;
}
.p-info .account .up-pay{
    color:#333333;
}
.p-title{
    padding-left:20px;
    line-height: 75px;
    border-bottom: 1px solid #666;
    font-size: 20px;
    border-top:1px solid #666;
    border-bottom: 1px solid #666;
    cursor: pointer;
}
.p-lists{
    padding-left: 20px;
    line-height: 45px;
}
.p-lists a{
    color:#6eb0ff;
}

/* 向下的箭头 */
.arrow-down{
    position: relative;
}
.arrow-down::after{
    display: block;
    content:url(../images/arrow-down.png);
    position: absolute;
    right:15px;
    top:0px;
}
/* 右侧 */
.p-right-side {
    padding-left:320px;
}
.p-right-side .p-ad{
    height: 175px;
    line-height: 175px;
    text-align: center;
    font-size: 100px;
    background-color: #3399ff;
    color:#fff;
    margin-top:18px;
    border-radius: 10px;
}
.p-right-side .station-mess{
    background-color: #cde6ff;
    margin-top:10px;
    border:1px solid #3399ff;
    border-radius: 10px;
}
.station-mess .s-m-title{
    height: 58px;
    border-bottom: 2px solid #fff;
}
.station-mess .s-m-title>div{
    line-height: 58px;
    float:left;
    font-size: 14px;
    color:#333333;
}
.station-mess .s-m-title>div>img{
    vertical-align: -5px;
}
.s-m-m{
    margin-left:350px;
}
.s-m-r{
    margin-left:150px;
}
.a-blue{
    color:#3399ff;
}
.s-m-content>.no-mess{
    line-height: 75px;
    text-align: center;
}
/* 底部 */
.p-foot{
    text-align: center;
    padding-top:50px;
    padding-bottom: 50px;
    background-color: #d4d4d4;
    line-height: 35px;
    font-size: 20px;
}
.p-foot .p-friend-link a{
    color:#525252;
}
.p-foot .p-friend-link>span{
    margin-left:13px;
    margin-right: 13px;
}
/* 最新期刊 */
/* 最新期刊头部 */
.l-head{
    height: 190px;
    background-color: #3399ff;
    padding-top:20px;
}
.l-head .l-logo{
    float:left;
}
.l-head .l-logo>img{
    height: 50px;
    width:250px;
}
.l-head .l-nav{
    float:left;
    margin-left:330px;
}
.l-head .top-bar a,.l-head .top-bar span{
    font-size:24px;
    color:#fff;
}
.l-head span {
    margin:0 13px;
}
.l-head .l-login-register{
    float:right;
}
.l-head .l-search-box{
    margin-left: 225px;
}
.l-search-box>div{
    display:inline-block;
    vertical-align: middle;
   
}
.l-search-box .l-search-way{
    position: relative; 
}
.l-cur-way{
    padding:0;
    border:0;
    margin:0;
    padding-left:10px;
    width:128px;
    height: 65px;
    background-color: #fff;
    font-size:20px;
    border-radius: 10px;
}
.l-input-box{
    padding:0;
    border:0;
    width:600px;
    line-height:65px;
    background-color: #fff;
}
.l-input-box>input{
    font-size: 20px;
    text-indent: 2em;
}
.l-button-box>button {
    padding:0;
    border:0;
    margin:0;
    padding-left:10px;
    width:114px;
    height: 65px;
    background-color: #fff;
    font-size:20px;
    border-radius: 10px;
}
.l-button-box img{
    vertical-align: middle;
}
/* 向下箭头 */
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    color:#515151;
  }
  /* 主内容 */
  .l-main{
      padding:40px 0;
  }
  .l-main>.container{
      border:1px solid #333333;
      background-color: #e8e8e8;
      padding:20px 20px 30px 0;  
  }
  .l-main .l-side-bar{
      float:left;
      width:230px;
  }
  .l-main .l-side-bar>ul>li{
      height:70px;
      line-height: 70px;
      margin-bottom: 10px;
  }
  .l-main .l-side-bar>ul>li>a{
    padding-left:40px;
    display: block;
    height: 100%;
    color:#1577e4;
    font-size:20px;
}
.l-main .l-side-bar>ul>li>a:hover{
    background-color: #fff;
}
/* 右侧 */
.l-main .l-right-box {
   padding:41px 41px 0;
    margin-left:230px;
    background-color: #fff;

}
.l-right-box .l-lists-box {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.l-lists-box .list{
    width:180px;
}
.l-lists-box .list>img{
    width:100%;
}
.l-lists-box .list>p{
    text-align:center;
    line-height: 55px;
    height: 55px;
    overflow: hidden;
}
/* 翻页 */
.l-right-box .page-box{
    margin-top:20px;
    padding-bottom: 50px;
}
.page-box>ul>li{
    float:left;
    margin-right:20px;

}
.page-box>ul>li>a{
    display:block;
    line-height: 32px;
    color:#6d8190;
    width:34px;
    border:1px solid #6d8190;
    text-align:center;
}
.page-box>ul>li>a.pre,.page-box>ul>li>a.next{
    width:82px;
}
.page-box a.active{
    background-color: #6d8190;
    color:#fff;
}
/* 期刊简介 */
.aj-main{
    background-color: #f7f3ed;
    padding-top:38px;
}
/* 面包屑导航 */
.breadcrumb-box{
    padding: 18px 15px;
    margin-bottom: 38px;
    background-color: #fff;
    border:1px solid #333;
    border-radius: 10px;
}
.breadcrumb-box>span{
    float:left;
    margin-left:14px;
    color:#6e6e6e;
    padding-right: 10px;
}
.breadcrumb-box>ol>li{
    display: inline-block;
}
.breadcrumb-box>ol>li + li:before {
    padding: 0 5px;
    color: #333;
    content: "\003e";
}
.breadcrumb-box>ol>.active {
    color: #333;
  }
  /* 期刊简介内容 */
  /* 左侧 */
.aj-left-side{
    width:315px;
    padding-top:21px;
    padding-left:17px;
    background-color: #f7f7f7;
    float:left;
} 
.aj-left-side .aj-photo{
    margin-bottom: 25px;
}
.aj-left-side .aj-journal-info{
    line-height: 22px;
    font-size: 12px;
    margin-bottom: 35px;
}
.aj-left-side .aj-journal-info .fj{
    color:#1577e4;
}
.aj-left-side .aj-journal-incloud{
    font-size: 12px;
}
/* 右侧 */
.aj-right-side{
    margin-left:337px;
    background-color: #fff;
    border-radius: 5px;
}
.aj-r-content{
    width:574px;
    padding:15px 20px 0 24px;
    float:left;
}
.aj-title{
    margin-bottom: 45px;
}
.aj-title .chinese{
    font-size:30px;
    color:#333;
}
.aj-title .english{
    font-size:18px;
    color:#bbb;
    margin-bottom: 15px;
}
.aj-title .aj-link{
    font-size:14px;
}
.aj-title .aj-link a{
    margin-right: 10px;
}
.aj-title .aj-link span{
    margin-left: -5px;
}
.aj-tilte .aj-link .aj-current{
    color:#333;
}
.aj-title .aj-link .links{
    color:#1577e4;
}
.aj-ad{
    padding-left:574px;
}
.aj-summary{
    line-height: 24px;
    color:#333333;
    margin-bottom: 40px;
}
/* 期刊收录 */

.aj-collections .section li{
    line-height: 35px;
    font-size: 18px;
    float:left;
}
.aj-collections .section li+li{
   margin-left:10px;
}
.aj-collections .section li>a{
    display: block;
    color:#6098ea;
}
.aj-collections .section li:first-child{
    color:#333333;
}
.aj-collections p{
    margin-top:30px;
    text-align: right;
}
.aj-collections p a{
    color:#333333;
}
.aj-j-contents .aj-c-title{
    text-align: center;
    line-height: 50px;
}
.aj-c-content>h3 {
    line-height: 100px;
    font-size: 20px;
}
.aj-c-content ul li{
    position: relative;
    overflow: hidden;
    line-height: 30px;
    margin-bottom: 30px;
}
.aj-c-content ul li  a{
   text-decoration: underline;
   color:#1577e4;
}
.c-box>div {
    display: inline-block; 
}
.nap{
    max-width: 400px;       
}
.line {
    border-top: 1px dashed #000;
    position: absolute;
    top: 14px;
    margin: 0 5px;
    width: 50%;
}
.page {
    position: absolute;
    right: 0px;
    padding: 0 5px;
    z-index: 100;
    text-align: right;
    background: #fff;
    padding-right: 80px;
}
.up{
    border:0;
    width:88px;
    height: 27px;
    background-color: #1577e4;
    border-radius: 10px;
    color:#fff;
    float:right;
}
.aj-collections h3{
    line-height: 50px;
    font-size:24px;
}
.aj-collections.pb90{
   padding-bottom: 90px;
}
/* 会员资料 */
.mb-r{
    padding:40px 0  0 320px;
}
.tabs>button{
    padding:20px 40px;
    font-size: 18px;
    background-color: #efefef;
    color:#333333;
    border:0;
    border:1px solid;
    border-radius: 5px 5px 0 0;
    margin-bottom: -1px;
}
.tabs>button+button{
   margin-left:-4px;
}
.tabs button.active{
    background-color: #3399ff;
    color:#fff;
    border:0;
}
.m-s-content{
    border:1px solid #3399ff;
    padding:40px 0 0 86px;
}
.r-e-a{
    color:#f7741e;
    font-size: 16px;
}
.m-s-content .inputs input{
    height: 34px;
    border:1px solid #333333;
}
.m-s-content>div>div.inputs,.m-s-content>div>label{
    vertical-align: middle;
    display:inline-block;
}
.m-s-content>div{
    margin-bottom: 18px;
}
.m-s-content>div>label{
    width:118px;
}
.m-s-content>div>div>input{
    text-indent: 1em;
}
.tips {
    padding:10px 0 0 118px;
}
.tips>img{
    vertical-align: middle;
}
.w310{
    width:310px;
}
.w100{
    width:100px;
}
.select-photo-box>label,.select-photo-box>div{
    float:left;
}
.photo-description{
    width:522px;
    background:url(../images/bg-1.png) repeat;
    height: 34px;
    line-height: 34px;
    margin-top:10px;
}
.photo-description>img{
    margin-left:20px;
    vertical-align: -4px;
}
.sorc{
    padding-left:118px;
}
.sorc>button{
    border:0;
    width:130px;
    height: 40px;
    border:1px solid ;
    background-color: #e5e5e5;
    color:#4b4b4b;
    border-radius: 5px;
    cursor: pointer;
}
.sorc .save{
    background-color: #ffe2d0;
    color:#f7741e;
    margin-right: 80px;
}